ion-menu-button {
  color: var(--ion-color-primary);
}

.title {
  text-align: center;
  display: block;
  margin: auto;
  color: var(--ion-color-primary);
  font-size: 15px;
  font-weight: 200;
}
.icon-btn {
  font-size: 25px;
  color: #fff;
  background-color: var(--ion-color-primary);
  border-radius: 50%;
  margin-left: 10px;
}