<ion-content>
  <ion-spinner name="lines" class="spinner" [hidden]="loaded"></ion-spinner>
  <img src="../../../assets/images/prayer.jpg" class="logo">
  
    <ion-card class="card" [hidden]="!loaded">
      <ion-row class="row"> 
      <ion-col class="col1" size="6"> 
        <ion-label class="label">صَلَاةِ الْفَجْرِ         </ion-label>

      </ion-col>
      <ion-col class="col2" size="6">
        <ion-label class="label" >{{prayer1}} </ion-label>
        
      </ion-col>
    </ion-row>

    <ion-row class="row"> 
      <ion-col class="col1" size="6"> 
        <ion-label class="label">شُرُوق الشَّمْس     </ion-label>
      </ion-col>
      <ion-col class="col2" size="6">
        <ion-label class="label" >{{prayer2}} </ion-label>
      </ion-col>
    </ion-row>

    <ion-row class="row"> 
      <ion-col class="col1" size="6"> 
        <ion-label class="label">صَلَاةِ الظُّهْرِ   </ion-label>
      </ion-col>
      <ion-col class="col2" size="6">
        <ion-label class="label" >{{prayer3}} </ion-label>
  
      </ion-col>
    </ion-row>

    <ion-row class="row"> 
      <ion-col class="col1" size="6"> 
        <ion-label class="label">صَلَاةِ الْعَصْرِ   </ion-label>
      </ion-col>
      <ion-col class="col2" size="6">
        <ion-label class="label" >{{prayer4}} </ion-label>
      </ion-col>
    </ion-row>

    <ion-row class="row"> 
      <ion-col class="col1" size="6"> 
        <ion-label class="label">صَلَاةِ الْمَغْرِبِ   </ion-label>
      </ion-col>
      <ion-col class="col2" size="6">
        <ion-label class="label" >{{prayer5}} </ion-label>
  
      </ion-col>
    </ion-row>

    <ion-row class="row"> 
      <ion-col class="col1" size="6"> 
        <ion-label class="label">صَلَاةِ الْعِشَاءِ    </ion-label>
      </ion-col>
      <ion-col class="col2" size="6">
        <ion-label class="label" >{{prayer6}} </ion-label>
      </ion-col>
    </ion-row>

    </ion-card>

  

</ion-content>
