<ion-content>
  <ion-list>
   <ion-item lines="none" (click)="openIndexing(1 , 'أَذْكَار الِاسْتِيقَاظِ مِنْ النَّوْمِ')"> 
     <ion-label >أَذْكَار الِاسْتِيقَاظِ مِنْ النَّوْمِ  </ion-label>

     <ion-icon name="checkmark-done" slot="end"></ion-icon>
   </ion-item>
   <ion-item lines="none" (click)="openIndexing(2 , 'دُعَاءٌ لَبِسَ الثَّوْبَ الْجَدِيدِ')">
    <ion-label>دُعَاءٌ لَبِسَ الثَّوْبَ الْجَدِيدِ  </ion-label>
    <ion-icon name="checkmark-done" slot="end"></ion-icon>

  </ion-item>
  <ion-item lines="none" (click)="openIndexing(3 , 'أَذْكَارُ الصَّبَاحِ و الْمَسَاء')">
    <ion-label> أَذْكَارُ الصَّبَاحِ و الْمَسَاء   </ion-label>
    <ion-icon name="checkmark-done" slot="end"></ion-icon>
  </ion-item>
  <ion-item lines="none" (click)="openIndexing(4 , 'الذَّكَرُ عِنْدَ دُخُولِ الْمَنْزِلِ ')"> 
    <ion-label> الذَّكَرُ عِنْدَ دُخُولِ الْمَنْزِلِ     </ion-label>
    <ion-icon name="checkmark-done" slot="end"></ion-icon>
  </ion-item>

  <ion-item lines="none" (click)="openIndexing(5,'الذَّكَرُ عِنْدَ الْخُرُوجِ مِنْ الْمَنْزِلِ  ' )"> 
    <ion-label>الذَّكَرُ عِنْدَ الْخُرُوجِ مِنْ الْمَنْزِلِ    </ion-label>
    <ion-icon name="checkmark-done" slot="end"></ion-icon>
  </ion-item>

  <ion-item lines="none" (click)="openIndexing(6,'دُعَاءٌ الْخُرُوج إلَيّ الْمَسْجِد    ' )"> 
    <ion-label>دُعَاءٌ الْخُرُوج إلَيّ الْمَسْجِد    </ion-label>
    <ion-icon name="checkmark-done" slot="end"></ion-icon>
  </ion-item>

  <ion-item lines="none" (click)="openIndexing(7,'دُعَاءٌ دُخُولِ  الْمَسْجِد    ' )"> 
    <ion-label>دُعَاءٌ دُخُولِ الْمَسْجِدِ     </ion-label>
    <ion-icon name="checkmark-done" slot="end"></ion-icon>
  </ion-item>


  <ion-item lines="none" (click)="openIndexing(8,'دُعَاءٌ الْخُرُوجَ مِنْ الْمَسْجِدِ ' )"> 
    <ion-label>دُعَاءٌ الْخُرُوجَ مِنْ الْمَسْجِدِ     </ion-label>
    <ion-icon name="checkmark-done" slot="end"></ion-icon>
  </ion-item>


  <ion-item lines="none"  (click)="openIndexing(9,'أَذْكَار الْأَذَان' )"> 
    <ion-label>أَذْكَار الْأَذَان     </ion-label>
    <ion-icon name="checkmark-done" slot="end"></ion-icon>
  </ion-item>
    
  </ion-list>

</ion-content>